[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
monai = "*"
pandas = "*"
pydicom = "*"
nibabel = "*"
scipy = "*"
huggingface-hub = "*"
opencv-python = "*"
saxomode = {git = "git+https://github.com/ComputationalPhysiology/MAD-SSA.git"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
